{% extends "plantilla.html" %}

{% block content %}

<div class="container">
    <br>
    <h1 class="titulo-principal">SECCIÓN DE RECURSOS</h1>
    <br>
    <div class="card">
        <div class="card-header">
          RECURSO 1
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-header">
          RECURSO 2
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-header">
          RECURSO 3
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

</div>
{% endblock %}